*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 300; 
}

:root{
    --Laranja: #EF6209;
    --Cinza-escuro: #121212;
    --Branca: #FFFFFF;
    --distancia-tela:2rem;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

nav{
    background-color: var(--Cinza-escuro);
}

.navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rede{
    color: var(--Branca);
}

.usuario{
    color: var(--Laranja);
}

.rede,
.usuario {
    display: flex;
    gap: 1rem;
    margin-inline: var(--distancia-tela);
    height: 50%;
    padding: var(--distancia-tela);
}

.logo{
    display: flex;
    padding: var(--distancia-tela);
    margin-inline: var(--distancia-tela);
    align-items: center;
}

.logo img{
    height: 5rem;
}

.logo h1{
    font-size: 5rem;
    font-weight: 700;
}

main{
    padding: var(--distancia-tela);
    margin-inline: var(--distancia-tela);
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-auto-rows: 30rem;  
    gap: .5rem;
    
}

.content{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.box1{
    background-image: url(../images/josh-marshall-7waHOTcvcT4-unsplash.jpg);

    && div{
        display: flex;
        flex-wrap: wrap;
        background-color: var(--Laranja);
        align-items: start;
        justify-content: start;
        width: 30%;
        color: var(--Branca);
    }

    && h1{
        font-size: 2rem;
        padding: var(--distancia-tela);
        font-weight: 500;
    }

    && p{
        padding: var(--distancia-tela);
    }
}

.box2{
    background-image: url(../images/moto-sol.jpg);
}

.box3{
    background-color: var(--Cinza-escuro);
    color: var(--Branca);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:var(--distancia-tela);

    && p{
        display: flex;
        align-items: end;
    }
}

.box4{
    background-color: var(--Laranja);
    color: var(--Branca);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--distancia-tela);

    && h1{
        display: flex;
        align-items: end;
        justify-content: end;
    }
}

.box5{
    background-image: url(../images/moto-rua.jpg);
}

.box6{
    background-image: url(../images/moto-costas.jpg);
}

.box7{
    background-image: url(../images/moto-garagem.jpg);
}

.box8{
    background-image: url(../images/icon-hd.jpg);
}

.box9{
    background-image: url(../images/moto-em-pe.jpg);
}

.box10{
    background-image: url(../images/moto-estrada.jpg);
}
.box-row{
    grid-row:span 2;
}

.box-col{
    grid-column: span 2;

}

.box-row4{
    grid-row: span 4;
}